.cusTomer {
  background-image: url('../assets/cusTomer.png');
  background-size: 100% 100%;
}
.box{
  background-image: url('../assets/Box.png');
  background-size: 100% 100%;
}
.cement{
  background-image: url('../assets/main.png');
  background-size: 100% 100%;
}
.adv{
  background-image: url('../assets/adv.png');
  background-size: 100% 100%;
}